<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Sport-meeting{% endblock %}</title>
        <link rel="shortcut icon" type="image/x-icon" href={{ asset("/public/favicon.ico") }}>
        <link rel="stylesheet" href= {{ asset('/public/css/reset.css') }} >
        <link rel="stylesheet" href= {{ asset('/public/css/style.css') }} >
        {% block stylesheets %}
        {% endblock %}
    </head>

    <body>
        <header class="header">
            <div class="header_logo">
                <img src="/public/images/logo-sportMeetring.png" alt="Logo du site meeting sports">
            </div>
            <div class="header_h1">
                <h1 class="header_h1_titre">Meeting Sports</h1>
            </div>
        </header>

    {% block body %}
    {% endblock %}
    </body>
    {% block javascripts %}{% endblock %}
</html>
{#finir l'intégration del la base html, regarder avec le site JTMC pour s'inspirer#}